@media only screen and (max-width: 480px){
    .contact_wrapper{
        margin: 100px 50px 0 50px !important;
    }
    .contact_content{
        margin: 0 !important;
    }
    .contact_content p{
        font-size: 15px !important;
    }
    .contact_content h3{
        font-size: 20px !important;
    }
    .contact_content h6{
        font-size: 15px !important;
        text-align: justify !important;
        text-justify: inter-word;
    }
    .contact_content a{
        width: 100px !important;
        padding: 10px 0px !important; 
        font-size: 15px !important;
    }
}
.contact_wrapper{
    margin: 100px 100px 0 100px;
}
.contact_content{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_content p{
    margin-top: 100px;
    font-size: 18px;
    color: #64FFda;
    margin-bottom: 20px;
    font-weight: 400;
}
.contact_content h3{
    font-size: 30px;
    font-weight: 700;
    color: #CCD6F6;
    margin-bottom: 20px;
}
.contact_content h6{
    font-size: 18px;
    font-weight: 300;
    color: #8892B0;
    margin-bottom: 50px;
}
.contact_content a{
    width: 150px;
    background-color: #0a192f;
    border: 1px solid #64FFda;
    padding: 15px 30px;
    color: #64FFda;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.9s;
}
.contact_content a:hover{
    border:2px solid #0a192f;
    background-color: #64FFda;
    color: #0a192f;
}
