@media only screen and (max-width: 480px){
    .footer_wrapper{
        margin: 0 50px !important;
        margin-bottom: 10px !important;
    }
    .footer_content p{
        font-size: 10px !important;
    }
}
.footer_wrapper{
    margin: 0 100px;
    margin-bottom: 10px;
    text-align: center;
}
.footer_content p{
    font-size: 15px;
    font-weight: 400;
    color: #8892B0;
}