@media only screen and (max-width: 480px){
    .experience_wrapper{
        margin: 0 50px !important;
        margin-top: 100px !important;
    }
    .experience_wrapper2{
        margin: 0px !important;
    }
    .experience_heading h3{
        font-size: 20px !important;
    }
    .experience_line{
        flex: 0.2 !important;
    }
    .experience_content h4{
        font-size: 20px !important;
    }
    .experience_content h5{
        font-size: 15px !important;
    }
    .experience_content ul li{
        font-size: 15px !important;
    }
}
.experience_wrapper{
    margin: 0 100px;
    margin-top: 100px;
}
.experience_wrapper2{
    margin: 0 15%;
}
.experience_heading{
    display: flex;
    align-items: center;
}
.experience_heading h3{
    flex: 1;
    font-size: 30px;
    font-weight: 700;
    color: #CCD6F6;
    margin-top: 100px;
}
.experience_heading h3 span{
    font-weight: 400;
    color: #64FFda;
}
.experience_line{
    flex: 0.7;
    height: 0;
    border-bottom: 1px solid #64FFda;
    margin-top: 100px;
}
.experience_content{
    margin-top: 20px;
    color: #CCD6F6;
}
.experience_content h4{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}
.experience_content h5{
    font-size: 20px;
    font-weight: 600;
    color: rgb(204, 214, 246, 0.8);
}
.experience_content ul li{
    color: #8892B0;
    list-style-type: none;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;
}